@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Muli:ital,wght@1,200&family=Slabo+27px&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #000000;
    --color-pink: #FFD3D9;
    --color-gold: #D4AF37;
    --color-lightblue: #F0F8FF;
    --color-darkpink: #FF1493;
    --font-staat: 'Montserrat', sans-serif;
    --font-os: 'Slabo 27px', serif;
    --font-ram: 'Muli', sans-serif;
}


/*global classes */



.font-staat{
    font: normal 400 16px var(--font-staat);
}
.font-os{
    font: normal 300 16px var(--font-staat);
}
.font-ram{
    font: normal bold 16px var(--font-staat);
}
.font-size-100{
    font-size: 100px;
}

.font-size-40{
    font-size: 40px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-15{
    font-size: 15px;
}

.bgcolor-lightblue{
    background-color: var(--color-lightblue);
}
.bgcolor-pink{
    background-color: var(--color-darkpink);
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title.navbar-brand{
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase; 
}

#header .nav-link:hover{
    color: var(--color-white) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(#FFD3D9);
}

.toggle-left{
    left: O !important;
    width: 1000px !important;
}

/*site-main*/

.site-site-banner .banner-area{
    background: url(./assets/pinkbackground.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/face.jpg) no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.skill .bars p,.site-content.skill.bars span{
    line-height: 10px;
}

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
}